html, body {
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  min-width: 320px
}

.background {
  background-image: linear-gradient(to bottom, #1298d4, #241b5b);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.content {
  padding-top: 50px;
}

.heading {
  margin: 0;
  font-size: 45px;
  margin-bottom: 0;
  color: white;
}

.sub-heading {
  color: white;
}

.calculator {
  max-width: 400px;
  margin: 30px auto 0;
  position: relative;
}

.currency-input {
  height: 110px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  background-color: white;
  position: relative;
}

.amount-input {
  border: none;
  padding: 20px 20px 20px 50px;
  font-size: 25px;
  margin-left: 5px;
  border-right: 1px solid #ccc;
  min-width: 100px;
}

.currency-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: none;
  background: none;
  font-size: 25px;
  flex-grow: 1;
  text-align-last: center;
}

.amount-indicator {
  position: absolute;
  top: 55px;
  left: 20px;
  width: 15px;
  height: 15px;
  border: 2px solid #1298d4;
  border-radius: 15px;
  background-color: white;
  margin-top: -8px;
}

.currency-input.active .amount-indicator {
  background-color: #1298d4;
}

.amount-indicator-line {
  content: '';
  position: absolute;
  top: 66px;
  left: 29px;
  z-index: 100;
  width: 3px;
  height: 106px;
  background-color: #1298d4;
}

.buy-button {
  margin: 0 auto;
  width: 100%;
  box-shadow: none;
  padding: 10px;
  border: none;
  font-size: 22px;
  background-color: #fe4d63;
}

.buy-button:hover {
  cursor: pointer;
}

.toast {
  opacity: 0;
  transform: translateY(30px);
  position: fixed;
  bottom: 50px;
  left: 50px;
  margin-right: 50px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.toast.active {
  opacity: 1;
  transform: translateY(0);
}
